<mat-sidenav-container class="sidenav-container" (backdropClick)="closeSideNav()">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list (click)="closeSideNav()">
      <a mat-list-item routerLink=''>Inicio</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink='cadastro'>Cadastro Autor</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-toolbar">
      <button mat-icon-button class="menu" aria-label="Menu" (click)="openSideNav()"><mat-icon>menu</mat-icon></button>
      <img src="../../../assets/images/newspaper64.png">
      <span>Jornal DIO</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
