<mat-toolbar class="app-title">Contatos Cadastrados</mat-toolbar>
<div class="list-content">
    <mat-card class="list-card">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Pessoa</mat-card-title>
            <mat-card-subtitle>Cargo</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://play-lh.googleusercontent.com/xToRFw-mqA18HtizgutV0K1IouakfR8iJ3PW75u-1n1oxbP7hVfBMlgHWIwuUYKKS_s" alt="OK">
        <mat-card-content>
            <p>Texto</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="accent" (click)="open()" mat-raised-button>Detalhes</button>
        </mat-card-actions>
    </mat-card>
</div>
