<mat-toolbar class="app-title">Cadastro Autor</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" *ngIf="cadastro" >
    <form autocomplete="off" novalidate [formGroup]="cadastro" (ngSubmit)="submit()" (ngReset)="reset()">
      <mat-card-content>
        <app-input-text holder="Nome" controlName="name" [formGroup]="cadastro"></app-input-text>       
        <app-input-select holder="Cargo" [options]="cargos" controlName="role" [formGroup]="cadastro"></app-input-select>
        <app-input-text holder="Email" controlName="email" [formGroup]="cadastro"></app-input-text> 
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>